@charset "utf-8";
/* CSS Document */

.hidden {
	display: none;
}

#container
{
	width: 960px;
	margin: 0 auto;
}

#navContainer
{
	margin: 0 auto;
	width: 960px;
}

#mainNav
{
	height: 60px;
	font-family: "Lucida Grande", arial, sans-serif;
	background: rgb(99,171,226);
background: -moz-linear-gradient(top,  rgba(99,171,226,1) 0%, rgba(15,135,226,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(99,171,226,1)), color-stop(100%,rgba(15,135,226,1)));
background: -webkit-linear-gradient(top,  rgba(99,171,226,1) 0%,rgba(15,135,226,1) 100%);
background: -o-linear-gradient(top,  rgba(99,171,226,1) 0%,rgba(15,135,226,1) 100%);
background: -ms-linear-gradient(top,  rgba(99,171,226,1) 0%,rgba(15,135,226,1) 100%);
background: linear-gradient(to bottom,  rgba(99,171,226,1) 0%,rgba(15,135,226,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#63abe2', endColorstr='#0f87e2',GradientType=0 );
}
#mainNav ul
{
	margin: 0 auto;
	width: 400px;
}
#mainNav ul li
{
	float: left;
}

#mainNav ul li a
{
	display: block;
	padding: 10px;
	color: #fff;
	text-decoration: none;
	margin-top: 10px;
	margin-left: 30px;
	transition: all .5s linear;
}

#mainNav ul li a:hover
{
	background-color: #73B2E2;
	border-radius: 10px;
	color: #333;
}

#mainSec
{
	margin-top: 70px;
}

#textInfo1
{
	width: 300px;
	height: 300px;
	margin-left: 40px;
	line-height: 20px;
	float: left;
}

#textInfo1 h2
{
	font-weight: bold;
	font-size: 20px;
}

#textInfo1 p
{
	text-align: left;
}

#profileImg
{
	float: right;
	margin-right: 40px;
}


#textInfo2
{
	padding-top: 70px;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	clear: both;
}

#subImages img
{
	float: left;
	margin-left: 13px;
	margin-top: 70px;

}

#mainFooter
{
	margin: 0 auto;
	padding-top: 70px;
	width: 960px;
	clear: both;
}

#footerNav
{
	height: 60px;
	font-family: "Lucida Grande", arial, sans-serif;
	background: rgb(99,171,226);
background: -moz-linear-gradient(top,  rgba(99,171,226,1) 0%, rgba(15,135,226,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(99,171,226,1)), color-stop(100%,rgba(15,135,226,1)));
background: -webkit-linear-gradient(top,  rgba(99,171,226,1) 0%,rgba(15,135,226,1) 100%);
background: -o-linear-gradient(top,  rgba(99,171,226,1) 0%,rgba(15,135,226,1) 100%);
background: -ms-linear-gradient(top,  rgba(99,171,226,1) 0%,rgba(15,135,226,1) 100%);
background: linear-gradient(to bottom,  rgba(99,171,226,1) 0%,rgba(15,135,226,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#63abe2', endColorstr='#0f87e2',GradientType=0 );
}
#footerNav ul
{
	margin: 0 auto;
	width: 400px;
}
#footerNav ul li
{
	float: left;
}

#footerNav ul li a
{
	display: block;
	padding: 10px;
	color: #fff;
	text-decoration: none;
	margin-top: 10px;
	margin-left: 30px;
	transition: all .5s linear;
}

#footerNav ul li a:hover
{
	background-color: #73B2E2;
	border-radius: 10px;
	color: #333;
}
